<a href="https://colab.research.google.com/github/navisabdillah/Sarah/blob/main/Sarah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# data mahasiswa
mahasiswa = {
    "Syifa Rurfeiza": "198060100231003",
    "Navis": "198060100231004",
    "Fariz": "198060100231005"
}

# input nama mahasiswa
nama = input("Masukkan nama mahasiswa: ")

# menampilkan data mahasiswa
if nama in mahasiswa:
    print("Nama :", nama)
    print("NIM  :", mahasiswa[nama])
else:
    print("Data mahasiswa tidak ditemukan")

Masukkan nama mahasiswa: Navis
Nama : Navis
NIM  : 198060100231004

Nomer 1

In [5]:
# data mahasiswa
mahasiswa = {
    "Syifa Rurfeiza": "198060100231003",
    "Sarahita Dinda": "198060100231004",
    "Navis Abdillah": "198060100231005"
}

# input nama mahasiswa
nama_pendek = input("Masukkan nama mahasiswa: ")

# mencari Nama Panjang mahasiswa berdasarkan Nama Pendek
nama_panjang = ""
for key in mahasiswa.keys():
    if key.lower().startswith(nama_pendek.lower()):
        nama_panjang = key
        break

# menampilkan data mahasiswa
if nama_panjang != "":
    print("Nama :", nama_panjang)
    print("NIM  :", mahasiswa[nama_panjang])
else:
    print("Data mahasiswa tidak ditemukan")

Masukkan nama mahasiswa: Sarah
Nama : Sarahita Dinda
NIM  : 198060100231004

Nomer 2

In [9]:
# data mahasiswa
mahasiswa = {
    "Syifa Rurfeiza": "198060100231003",
    "Navis Abdillah": "198060100231004",
    "Sarahita Dinda": "198060100231005"
}

# input nim mahasiswa
nim = input("Masukkan NIM mahasiswa: ")

# mencari Nama mahasiswa berdasarkan Nim
nama = ""
for key, value in mahasiswa.items():
    if value == nim:
        nama = key
        break

# menampilkan data mahasiswa
if nama != "":
    print("Nama :", nama)
    print("NIM  :", nim)
else:
    print("Data mahasiswa tidak ditemukan")

Masukkan NIM mahasiswa: 198060100231004
Nama : Navis Abdillah
NIM  : 198060100231004

Nomer 3 versi 1

In [7]:
# data mahasiswa
mahasiswa = {
    "Syifa Rurfeiza": "198060100231003",
    "Syaleisyi Kyirsa": "198060100231007",
    "Agerda Syikurphuja": "198060100231011",
    "Feizaturrisa Misphezir": "198060100231015",
    "Hethiralda": "198060100231019",
    "Sayira Caphi": "198060100231023",
    "Fhirini Dheca": "198060100231027",
    "Yusiphe Ocnera": "198060100231031",
    "Deshi Ryu Carinsih": "198060100231035",
    "Casilowane": "198060100231048",
    "Mismeirah": "198060100231052",
    "Mujinie Linasane": "198060100231056",
    "Adujoe Sepneini": "198060102311001",
    "Alifoe Kucama": "198060102311005"
}

# menampilkan data mahasiswa
for key, value in mahasiswa.items():
    print("Nama :", key)
    print("NIM  :", value)

Nama : Syifa Rurfeiza
NIM  : 198060100231003
Nama : Syaleisyi Kyirsa
NIM  : 198060100231007
Nama : Agerda Syikurphuja
NIM  : 198060100231011
Nama : Feizaturrisa Misphezir
NIM  : 198060100231015
Nama : Hethiralda
NIM  : 198060100231019
Nama : Sayira Caphi
NIM  : 198060100231023
Nama : Fhirini Dheca
NIM  : 198060100231027
Nama : Yusiphe Ocnera
NIM  : 198060100231031
Nama : Deshi Ryu Carinsih
NIM  : 198060100231035
Nama : Casilowane
NIM  : 198060100231048
Nama : Mismeirah
NIM  : 198060100231052
Nama : Mujinie Linasane
NIM  : 198060100231056
Nama : Adujoe Sepneini
NIM  : 198060102311001
Nama : Alifoe Kucama
NIM  : 198060102311005

Nomer 3 versi 2

In [1]:
nama = ["Syifa Rurfeiza", "Syaleisyi Kyirsa", "Agerda Syikurphuja", "Feizaturrisa Misphezir", "Hethiralda", 
        "Sayira Caphi", "Fhirini Dheca", "Yusiphe Ocnera", "Deshi Ryu Carinsih", "Casilowane", "Mismeirah", 
        "Mujinie Linasane", "Adujoe Sepneini", "Alifoe Kucama", "Rifzi Fawin Maulina"]

nim = [198060100231003, 198060100231007, 198060100231011, 198060100231015, 198060100231019, 198060100231023, 
       198060100231027, 198060100231031, 198060100231035, 198060100231048, 198060100231052, 198060100231056, 
       198060100231064, 198060102311001, 198060102311005]

for i in range(len(nama)):
    print("Nama: {} \t NIM: {}".format(nama[i], nim[i]))

Nama: Syifa Rurfeiza 	 NIM: 198060100231003
Nama: Syaleisyi Kyirsa 	 NIM: 198060100231007
Nama: Agerda Syikurphuja 	 NIM: 198060100231011
Nama: Feizaturrisa Misphezir 	 NIM: 198060100231015
Nama: Hethiralda 	 NIM: 198060100231019
Nama: Sayira Caphi 	 NIM: 198060100231023
Nama: Fhirini Dheca 	 NIM: 198060100231027
Nama: Yusiphe Ocnera 	 NIM: 198060100231031
Nama: Deshi Ryu Carinsih 	 NIM: 198060100231035
Nama: Casilowane 	 NIM: 198060100231048
Nama: Mismeirah 	 NIM: 198060100231052
Nama: Mujinie Linasane 	 NIM: 198060100231056
Nama: Adujoe Sepneini 	 NIM: 198060100231064
Nama: Alifoe Kucama 	 NIM: 198060102311001
Nama: Rifzi Fawin Maulina 	 NIM: 198060102311005

UTS versi 1
Terdapat 5 data hanya bisa mencari dari 5 data tersebut.

In [2]:
# definisi data
nama = ["Syifa Rurfeiza", "Syaleisyi Kyirsa", "Agerda Syikurphuja", "Feizaturrisa Misphezir", "Hethiralda",         "Sayira Caphi", "Fhirini Dheca", "Yusiphe Ocnera", "Deshi Ryu Carinsih", "Casilowane", "Mismeirah",         "Mujinie Linasane", "Adujoe Sepneini", "Alifoe Kucama", "Rifzi Fawin Maulina"]
nim = ["198060100231003", "198060100231007", "198060100231011", "198060100231015", "198060100231019",        "198060100231023", "198060100231027", "198060100231031", "198060100231035", "198060100231048",        "198060100231052", "198060100231056", "198060100231064", "198060102311001", "198060102311005"]

# menampilkan data 5 mahasiswa
for i in range(5):
    print("Data ke-", i+1)
    print("Nama: ", nama[i])
    print("NIM: ", nim[i])
    print()

# mencari data berdasarkan input Nama atau Nim
while True:
    pilihan = input("Mau mencari data berdasarkan NIM atau Nama? (NIM/Nama/Selesai): ")
    if pilihan.lower() == "selesai":
        break
    elif pilihan.lower() == "nim":
        cari_nim = input("Masukkan NIM yang ingin dicari: ")
        if cari_nim in nim:
            index = nim.index(cari_nim)
            print("Data ditemukan!")
            print("Nama: ", nama[index])
            print("NIM: ", nim[index])
        else:
            print("Data tidak ditemukan!")
    elif pilihan.lower() == "nama":
        cari_nama = input("Masukkan Nama yang ingin dicari: ")
        if cari_nama in nama:
            index = nama.index(cari_nama)
            print("Data ditemukan!")
            print("Nama: ", nama[index])
            print("NIM: ", nim[index])
        else:
            print("Data tidak ditemukan!")
    else:
        print("Pilihan tidak valid!")

Data ke- 1
Nama:  Syifa Rurfeiza
NIM:  198060100231003

Data ke- 2
Nama:  Syaleisyi Kyirsa
NIM:  198060100231007

Data ke- 3
Nama:  Agerda Syikurphuja
NIM:  198060100231011

Data ke- 4
Nama:  Feizaturrisa Misphezir
NIM:  198060100231015

Data ke- 5
Nama:  Hethiralda
NIM:  198060100231019

Mau mencari data berdasarkan NIM atau Nama? (NIM/Nama/Selesai): Nim
Masukkan NIM yang ingin dicari: 198060100231019
Data ditemukan!
Nama:  Hethiralda
NIM:  198060100231019
Mau mencari data berdasarkan NIM atau Nama? (NIM/Nama/Selesai): Nama
Masukkan Nama yang ingin dicari: Sayira
Data tidak ditemukan!
Mau mencari data berdasarkan NIM atau Nama? (NIM/Nama/Selesai): Selesai

UTS versi 2
Dapat mencari 5 data dengan 5 kali perulangan.

In [3]:
nama = ["Syifa Rurfeiza", "Syaleisyi Kyirsa", "Agerda Syikurphuja", "Feizaturrisa Misphezir", "Hethiralda", 
        "Sayira Caphi", "Fhirini Dheca", "Yusiphe Ocnera", "Deshi Ryu Carinsih", "Casilowane", "Mismeirah", 
        "Mujinie Linasane", "Adujoe Sepneini", "Alifoe Kucama", "Rifzi Fawin Maulina"]
nim = [198060100231003, 198060100231007, 198060100231011, 198060100231015, 198060100231019, 
       198060100231023, 198060100231027, 198060100231031, 198060100231035, 198060100231048, 
       198060100231052, 198060100231056, 198060100231064, 198060102311001, 198060102311005]

for i in range(5):
    cari_nim = int(input("Masukkan NIM yang ingin dicari: "))
    for j in range(len(nim)):
        if cari_nim == nim[j]:
            print("Mahasiswa dengan NIM", nim[j], "adalah", nama[j])
            break
    else:
        print("Mahasiswa dengan NIM", cari_nim, "tidak ditemukan.")

Masukkan NIM yang ingin dicari: 198060100231056
Mahasiswa dengan NIM 198060100231056 adalah Mujinie Linasane
Masukkan NIM yang ingin dicari: 198060102311001
Mahasiswa dengan NIM 198060102311001 adalah Alifoe Kucama
Masukkan NIM yang ingin dicari: 198060100231048
Mahasiswa dengan NIM 198060100231048 adalah Casilowane
Masukkan NIM yang ingin dicari: 198060100231019
Mahasiswa dengan NIM 198060100231019 adalah Hethiralda
Masukkan NIM yang ingin dicari: 198060102311005
Mahasiswa dengan NIM 198060102311005 adalah Rifzi Fawin Maulina

UTS versi 3
Hanya terdapat 5 data dan bisa menambahkan data serta bisa mencari data yang baru.

In [5]:
# inisialisasi data
nama = ["Syifa Rurfeiza", "Syaleisyi Kyirsa", "Agerda Syikurphuja", "Feizaturrisa Misphezir", "Hethiralda"]
nim = ["198060100231003", "198060100231007", "198060100231011", "198060100231015", "198060100231019"]

# perulangan input data
for i in range(5):
    n = input("Masukkan nama mahasiswa ke-" + str(i+1) + ": ")
    m = input("Masukkan NIM mahasiswa ke-" + str(i+1) + ": ")
    nama.append(n)
    nim.append(m)

# tampilkan data
print("Data mahasiswa:")
for i in range(len(nama)):
    print("Nama:", nama[i], "\tNIM:", nim[i])

# cari data
cari = input("Masukkan nama atau NIM mahasiswa yang ingin dicari: ")
found = False
for i in range(len(nama)):
    if cari.lower() in nama[i].lower() or cari == nim[i]:
        print("Data ditemukan:")
        print("Nama:", nama[i], "\tNIM:", nim[i])
        found = True
if not found:
    print("Data tidak ditemukan.")

Masukkan nama mahasiswa ke-1: Navis
Masukkan NIM mahasiswa ke-1: 1829812981
Masukkan nama mahasiswa ke-2: Sarah
Masukkan NIM mahasiswa ke-2: 20202
Masukkan nama mahasiswa ke-3: Fariz
Masukkan NIM mahasiswa ke-3: 123213
Masukkan nama mahasiswa ke-4: Tarisha
Masukkan NIM mahasiswa ke-4: 2321434
Masukkan nama mahasiswa ke-5: Aza
Masukkan NIM mahasiswa ke-5: 123213
Data mahasiswa:
Nama: Syifa Rurfeiza 	NIM: 198060100231003
Nama: Syaleisyi Kyirsa 	NIM: 198060100231007
Nama: Agerda Syikurphuja 	NIM: 198060100231011
Nama: Feizaturrisa Misphezir 	NIM: 198060100231015
Nama: Hethiralda 	NIM: 198060100231019
Nama: Navis 	NIM: 1829812981
Nama: Sarah 	NIM: 20202
Nama: Fariz 	NIM: 123213
Nama: Tarisha 	NIM: 2321434
Nama: Aza 	NIM: 123213
Masukkan nama atau NIM mahasiswa yang ingin dicari: Navis
Data ditemukan:
Nama: Navis 	NIM: 1829812981

UTS Versi terbaru

In [8]:
# definisi data
nama = ["Syifa Rurfeiza", "Syaleisyi Kyirsa", "Agerda Syikurphuja", "Feizaturrisa Misphezir", "Hethiralda",
        "Sayira Caphi", "Fhirini Dheca", "Yusiphe Ocnera", "Deshi Ryu Carinsih", "Casilowane", "Mismeirah",
        "Mujinie Linasane", "Adujoe Sepneini", "Alifoe Kucama", "Rifzi Fawin Maulina"]
nim = ["198060100231003", "198060100231007", "198060100231011", "198060100231015", "198060100231019",
       "198060100231023", "198060100231027", "198060100231031", "198060100231035", "198060100231048",
       "198060100231052", "198060100231056", "198060100231064", "198060102311001", "198060102311005"]


def tampilkan_data():
    print("Daftar Mahasiswa:")
    for i in range(len(nama)):
        print("Data ke-", i+1)
        print("Nama: ", nama[i])
        print("NIM: ", nim[i])
        print()


def cari_nim():
    cari_nim = input("Masukkan NIM yang ingin dicari: ")
    if cari_nim in nim:
        index = nim.index(cari_nim)
        print("Data ditemukan!")
        print("Nama: ", nama[index])
        print("NIM: ", nim[index])
    else:
        print("Data tidak ditemukan!")


def cari_nama():
    cari_nama = input("Masukkan Nama yang ingin dicari: ")
    if cari_nama in nama:
        index = nama.index(cari_nama)
        print("Data ditemukan!")
        print("Nama: ", nama[index])
        print("NIM: ", nim[index])
    else:
        print("Data tidak ditemukan!")


while True:
    print("Menu Pilihan:")
    print("1. Tampilkan Seluruh Data")
    print("2. Cari Data Berdasarkan NIM")
    print("3. Cari Data Berdasarkan Nama")
    print("4. Keluar")

    pilihan = input("Masukkan pilihan Anda (1/2/3/4): ")

    if pilihan == "1":
        tampilkan_data()
    elif pilihan == "2":
        cari_nim()
    elif pilihan == "3":
        cari_nama()
    elif pilihan == "4":
        print("Terima kasih!")
        break
    else:
        print("Pilihan tidak valid! Silakan masukkan pilihan yang benar.")

Menu Pilihan:
1. Tampilkan Seluruh Data
2. Cari Data Berdasarkan NIM
3. Cari Data Berdasarkan Nama
4. Keluar
Masukkan pilihan Anda (1/2/3/4): 3
Masukkan Nama yang ingin dicari: Mismeirah
Data ditemukan!
Nama:  Mismeirah
NIM:  198060100231052
Menu Pilihan:
1. Tampilkan Seluruh Data
2. Cari Data Berdasarkan NIM
3. Cari Data Berdasarkan Nama
4. Keluar
Masukkan pilihan Anda (1/2/3/4): 4
Terima kasih!

In [16]:
# definisi data
nama = ["Syifa Rurfeiza", "Syaleisyi Kyirsa", "Agerda Syikurphuja", "Feizaturrisa Misphezir", "Hethiralda",
        "Sayira Caphi", "Fhirini Dheca", "Yusiphe Ocnera", "Deshi Ryu Carinsih", "Casilowane", "Mismeirah",
        "Mujinie Linasane", "Adujoe Sepneini", "Alifoe Kucama", "Rifzi Fawin Maulina"]
nim = ["198060100231003", "198060100231007", "198060100231011", "198060100231015", "198060100231019",
       "198060100231023", "198060100231027", "198060100231031", "198060100231035", "198060100231048",
       "198060100231052", "198060100231056", "198060100231064", "198060102311001", "198060102311005"]

# membuat dictionary untuk memetakan nama pendek ke nama lengkap
nama_pendek = {}
for n in nama:
    # mengambil inisial setiap kata pada nama
    inisial = "".join([k[0] for k in n.split()])
    nama_pendek[inisial.lower()] = n

def tampilkan_data():
    print("Daftar Mahasiswa:")
    for i in range(len(nama)):
        print("Data ke-", i+1)
        print("Nama: ", nama[i])
        print("NIM: ", nim[i])
        print()

def cari_nim():
    cari_nim = input("Masukkan NIM yang ingin dicari: ")
    if cari_nim in nim:
        index = nim.index(cari_nim)
        print("Data ditemukan!")
        print("Nama: ", nama[index])
        print("NIM: ", nim[index])
    else:
        print("Data tidak ditemukan!")

def cari_nama():
    cari_nama = input("Masukkan Nama/Nama Pendek yang ingin dicari: ")
    if cari_nama in nama_pendek:
        index = nama.index(nama_pendek[cari_nama])
        print("Data ditemukan!")
        print("Nama: ", nama[index])
        print("NIM: ", nim[index])
    elif cari_nama in [n.split()[0] for n in nama]:
        index = [n.split()[0] for n in nama].index(cari_nama)
        print("Data ditemukan!")
        print("Nama: ", nama[index])
        print("NIM: ", nim[index])
    else:
        print("Data tidak ditemukan!")

while True:
    print("Menu Pilihan:")
    print("1. Tampilkan Seluruh Data")
    print("2. Cari Data Berdasarkan NIM")
    print("3. Cari Data Berdasarkan Nama")
    print("4. Keluar")

    pilihan = input("Masukkan pilihan Anda (1/2/3/4): ")

    if pilihan == "1":
        tampilkan_data()
    elif pilihan == "2":
        cari_nim()
    elif pilihan == "3":
        cari_nama()
    elif pilihan == "4":
        print("Terimakasih")
        break
    else:
        print("Pilihan tidak valid! Silakan masukkan pilihan yang benar.")

Menu Pilihan:
1. Tampilkan Seluruh Data
2. Cari Data Berdasarkan NIM
3. Cari Data Berdasarkan Nama
4. Keluar
Masukkan pilihan Anda (1/2/3/4): 4
Terimakasih