<a href="https://colab.research.google.com/github/navisabdillah/Sarah/blob/main/Sarah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# data mahasiswa
mahasiswa = {
    "Syifa Rurfeiza": "198060100231003",
    "Navis": "198060100231004",
    "Fariz": "198060100231005"
}

# input nama mahasiswa
nama = input("Masukkan nama mahasiswa: ")

# menampilkan data mahasiswa
if nama in mahasiswa:
    print("Nama :", nama)
    print("NIM  :", mahasiswa[nama])
else:
    print("Data mahasiswa tidak ditemukan")

Masukkan nama mahasiswa: Navis
Nama : Navis
NIM  : 198060100231004

Nomer 1

In [5]:
# data mahasiswa
mahasiswa = {
    "Syifa Rurfeiza": "198060100231003",
    "Sarahita Dinda": "198060100231004",
    "Navis Abdillah": "198060100231005"
}

# input nama mahasiswa
nama_pendek = input("Masukkan nama mahasiswa: ")

# mencari Nama Panjang mahasiswa berdasarkan Nama Pendek
nama_panjang = ""
for key in mahasiswa.keys():
    if key.lower().startswith(nama_pendek.lower()):
        nama_panjang = key
        break

# menampilkan data mahasiswa
if nama_panjang != "":
    print("Nama :", nama_panjang)
    print("NIM  :", mahasiswa[nama_panjang])
else:
    print("Data mahasiswa tidak ditemukan")

Masukkan nama mahasiswa: Sarah
Nama : Sarahita Dinda
NIM  : 198060100231004

Nomer 2

In [9]:
# data mahasiswa
mahasiswa = {
    "Syifa Rurfeiza": "198060100231003",
    "Navis Abdillah": "198060100231004",
    "Sarahita Dinda": "198060100231005"
}

# input nim mahasiswa
nim = input("Masukkan NIM mahasiswa: ")

# mencari Nama mahasiswa berdasarkan Nim
nama = ""
for key, value in mahasiswa.items():
    if value == nim:
        nama = key
        break

# menampilkan data mahasiswa
if nama != "":
    print("Nama :", nama)
    print("NIM  :", nim)
else:
    print("Data mahasiswa tidak ditemukan")

Masukkan NIM mahasiswa: 198060100231004
Nama : Navis Abdillah
NIM  : 198060100231004

Nomer 3

In [7]:
# data mahasiswa
mahasiswa = {
    "Syifa Rurfeiza": "198060100231003",
    "Syaleisyi Kyirsa": "198060100231007",
    "Agerda Syikurphuja": "198060100231011",
    "Feizaturrisa Misphezir": "198060100231015",
    "Hethiralda": "198060100231019",
    "Sayira Caphi": "198060100231023",
    "Fhirini Dheca": "198060100231027",
    "Yusiphe Ocnera": "198060100231031",
    "Deshi Ryu Carinsih": "198060100231035",
    "Casilowane": "198060100231048",
    "Mismeirah": "198060100231052",
    "Mujinie Linasane": "198060100231056",
    "Adujoe Sepneini": "198060102311001",
    "Alifoe Kucama": "198060102311005"
}

# menampilkan data mahasiswa
for key, value in mahasiswa.items():
    print("Nama :", key)
    print("NIM  :", value)

Nama : Syifa Rurfeiza
NIM  : 198060100231003
Nama : Syaleisyi Kyirsa
NIM  : 198060100231007
Nama : Agerda Syikurphuja
NIM  : 198060100231011
Nama : Feizaturrisa Misphezir
NIM  : 198060100231015
Nama : Hethiralda
NIM  : 198060100231019
Nama : Sayira Caphi
NIM  : 198060100231023
Nama : Fhirini Dheca
NIM  : 198060100231027
Nama : Yusiphe Ocnera
NIM  : 198060100231031
Nama : Deshi Ryu Carinsih
NIM  : 198060100231035
Nama : Casilowane
NIM  : 198060100231048
Nama : Mismeirah
NIM  : 198060100231052
Nama : Mujinie Linasane
NIM  : 198060100231056
Nama : Adujoe Sepneini
NIM  : 198060102311001
Nama : Alifoe Kucama
NIM  : 198060102311005